.shell-layout {
  min-height: 100dvh;
  display: flex;
}

.shell-content {
  flex: 1;
}

main {
  padding: 0 1rem 1rem;
}

@media (max-width: 992px) {
  .shell-layout {
    flex-direction: column;
  }
}
